.navBar {
    display: grid;
    width: 100%;
    height: 15vh;
    background-color: #087E8B;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.h2 {
    font-size: 2em;
    margin-left: 2vw;
    text-decoration: none;
    color: #fff;
    justify-self: start;
}

.profile {
    justify-self: end;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-button {
    display: flex;
    align-items: center;
    width: 6vw;
    height: 3vh;
    padding-left: 15%;
    font-size: 0.7em;
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.profile-button:hover {
    background-color: #F5F5F5;
}

img {
    margin-left: 1vw;
}